@model MeGrab.Login.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<div class="login-form">
    <h2>Login</h2>

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm()) {
    <div class="fieldset">
            <div class="login">
                <div class="editor-label">
                @Html.LabelFor(m => m.UserNameOrEmailOrCellPhoneNo)
                </div>
                <div class="">
                    @Html.TextBoxFor(m => m.UserNameOrEmailOrCellPhoneNo, new { placeholder="手机号/用户名/邮箱", @class="editor-field" })
                    @Html.ValidationMessageFor(m => m.UserNameOrEmailOrCellPhoneNo)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="">
                    @Html.PasswordFor(m => m.Password, new { placeholder = "密码", @class="editor-field" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                <div class="editor-label">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "check-field" })
                    @Html.LabelFor(m => m.RememberMe)
                    <input type="submit" value="登录" class="login-button"/>		
                </div>
            </div>
            <div class="adReg">
			<p>
                还没有账号？@Html.ActionLink("免费注册", "CreateUser")
			</p>
            </div>
    </div>
}
</div>

